Listen ${ACC_APP_PORT}
ServerName accounting.bank.lab

<VirtualHost *:${ACC_APP_PORT}>
    DocumentRoot /var/www/dolibarr/htdocs
    ErrorLog /var/log/apache2/accounting-error.log
    CustomLog /var/log/apache2/accounting-access.log combined

    <Directory /var/www/dolibarr/htdocs>
        Options FollowSymLinks
        AllowOverride All
        Require all granted
        DirectoryIndex index.php
    </Directory>

    <Directory /var/lib/dolibarr/documents>
        Require all denied
    </Directory>
</VirtualHost>
