flush ruleset

table inet banklab_filter {
  chain input {
    type filter hook input priority filter;
    policy accept;
  }

  chain forward {
    type filter hook forward priority filter;
    policy accept;

    # START vulnerability: all inter-zone forwarding is accepted.
    ct state established,related accept
    ip saddr { ${VLAN10_OPER_SUBNET}, ${VLAN20_CASH_SUBNET}, ${VLAN30_ACC_SUBNET}, ${VLAN40_IT_SUBNET} } accept comment "START: user VLANs can reach excessive zones"
    ip saddr ${DMZ_SUBNET} accept comment "START: DMZ can reach excessive internal services"
    ip saddr ${VPN_POOL} accept comment "START: VPN clients have broad internal access"
  }

  chain output {
    type filter hook output priority filter;
    policy accept;
  }
}

table ip banklab_nat {
  chain prerouting {
    type nat hook prerouting priority dstnat;
    policy accept;
    tcp dport ${PROXY_HTTP_PORT} dnat to ${BANK_PROXY_IP}:${PROXY_HTTP_PORT}
    tcp dport ${PROXY_HTTPS_PORT} dnat to ${BANK_PROXY_IP}:${PROXY_HTTPS_PORT}
    tcp dport ${ARM_OPER_HOST_SSH_PORT} dnat to ${BANK_ARM_OPER_IP}:${SSH_PORT}
    tcp dport ${ARM_CASH_HOST_SSH_PORT} dnat to ${BANK_ARM_CASH_IP}:${SSH_PORT}
    tcp dport ${ARM_ACC_HOST_SSH_PORT} dnat to ${BANK_ARM_ACC_IP}:${SSH_PORT}
    tcp dport ${ARM_IT_HOST_SSH_PORT} dnat to ${BANK_ARM_IT_IP}:${SSH_PORT}
    tcp dport ${ARM_OPER_HOST_RDP_PORT} dnat to ${BANK_ARM_OPER_IP}:${RDP_PORT}
    tcp dport ${ARM_CASH_HOST_RDP_PORT} dnat to ${BANK_ARM_CASH_IP}:${RDP_PORT}
    tcp dport ${ARM_ACC_HOST_RDP_PORT} dnat to ${BANK_ARM_ACC_IP}:${RDP_PORT}
    tcp dport ${ARM_IT_HOST_RDP_PORT} dnat to ${BANK_ARM_IT_IP}:${RDP_PORT}
  }

  chain postrouting {
    type nat hook postrouting priority srcnat;
    policy accept;
    ip saddr { ${DMZ_SUBNET}, ${SERVER_SUBNET}, ${DATABASE_SUBNET}, ${MANAGEMENT_SUBNET}, ${VLAN10_OPER_SUBNET}, ${VLAN20_CASH_SUBNET}, ${VLAN30_ACC_SUBNET}, ${VLAN40_IT_SUBNET}, ${VPN_POOL} } masquerade
  }
}
