# Project
COMPOSE_PROJECT_NAME=banklab
BANKLAB_IMAGE_TAG=1.0
UBUNTU_VERSION=24.04
BANKLAB_DOMAIN=bank.lab
TZ=Etc/UTC

# Docker networks
UNTRUSTED_SUBNET=172.28.0.0/24
DMZ_SUBNET=172.28.10.0/24
SERVER_SUBNET=172.28.20.0/24
DATABASE_SUBNET=172.28.30.0/24
MANAGEMENT_SUBNET=172.28.40.0/24
VPN_POOL=172.28.60.0/24
VLAN10_OPER_SUBNET=172.28.110.0/24
VLAN20_CASH_SUBNET=172.28.120.0/24
VLAN30_ACC_SUBNET=172.28.130.0/24
VLAN40_IT_SUBNET=172.28.140.0/24

# Router interfaces
ROUTER_UNTRUSTED_IP=172.28.0.254
ROUTER_DMZ_IP=172.28.10.254
ROUTER_SERVER_IP=172.28.20.254
ROUTER_DATABASE_IP=172.28.30.254
ROUTER_MANAGEMENT_IP=172.28.40.254
ROUTER_VLAN10_OPER_IP=172.28.110.254
ROUTER_VLAN20_CASH_IP=172.28.120.254
ROUTER_VLAN30_ACC_IP=172.28.130.254
ROUTER_VLAN40_IT_IP=172.28.140.254

# Host addresses
BANK_VPN_IP=172.28.0.20
BANK_PROXY_IP=172.28.10.10
BANK_DBO_IP=172.28.10.20
BANK_MFA_DBO_IP=172.28.10.30
BANK_ABS_IP=172.28.20.10
BANK_ACC_SYS_IP=172.28.20.20
BANK_MFA_ABS_IP=172.28.20.30
BANK_ABS_DB_IP=172.28.30.10
BANK_PAM_IP=172.28.40.10
BANK_ADM_IP=172.28.40.20
BANK_BACKUP_IP=172.28.40.30
BANK_LDAP_IP=172.28.40.40
BANK_ARM_OPER_IP=172.28.110.10
BANK_ARM_CASH_IP=172.28.120.10
BANK_ARM_ACC_IP=172.28.130.10
BANK_ARM_IT_IP=172.28.140.10

# Internal ports
SSH_PORT=22
RDP_PORT=3389
VPN_PORT=1194
PROXY_HTTP_PORT=80
PROXY_HTTPS_PORT=443
DBO_APP_PORT=8082
ABS_APP_PORT=8080
ABS_DB_PORT=5432
ACC_APP_PORT=8081
LDAP_PORT=389
LDAPS_PORT=636
MFA_AUTHELIA_PORT=9091

# Host-published ports. Makefile checks every TCP/UDP port before startup.
ARM_OPER_HOST_SSH_PORT=2210
ARM_CASH_HOST_SSH_PORT=2220
ARM_ACC_HOST_SSH_PORT=2230
ARM_IT_HOST_SSH_PORT=2240
ARM_OPER_HOST_RDP_PORT=3310
ARM_CASH_HOST_RDP_PORT=3320
ARM_ACC_HOST_RDP_PORT=3330
ARM_IT_HOST_RDP_PORT=3340
DBO_HOST_HTTP_PORT=18080
DBO_HOST_HTTPS_PORT=18443
VPN_HOST_PORT=1194

# Local technical account. These are training defaults, not production secrets.
LAB_ADMIN_USER=student
LAB_ADMIN_PASSWORD=ChangeMe-LabOnly
LAB_ADMIN_AUTHORIZED_KEY=

# LDAP
LDAP_BASE_DN=dc=bank,dc=lab
LDAP_ORGANIZATION="Virtual Bank Lab"
LDAP_ADMIN_DN=cn=admin,dc=bank,dc=lab
LDAP_ADMIN_PASSWORD=ChangeMe-LdapAdmin
LDAP_BIND_DN=cn=admin,dc=bank,dc=lab
LDAP_BIND_PASSWORD=ChangeMe-LdapAdmin

OPER_USER=op01
OPER_PASSWORD=ChangeMe-Oper
CASH_USER=cash01
CASH_PASSWORD=ChangeMe-Cash
ACC_USER=acc01
ACC_PASSWORD=ChangeMe-Acc
IT_USER=it01
IT_PASSWORD=ChangeMe-It

# Service identities
SVC_SHARED_USER=svc_shared
SVC_SHARED_PASSWORD=ChangeMe-Shared
SVC_ABS_USER=svc_abs
SVC_ABS_PASSWORD=ChangeMe-AbsSvc
SVC_DBO_USER=svc_dbo
SVC_DBO_PASSWORD=ChangeMe-DboSvc
SVC_BACKUP_USER=svc_backup
SVC_BACKUP_PASSWORD=ChangeMe-BackupSvc
SVC_ACC_USER=svc_acc
SVC_ACC_PASSWORD=ChangeMe-AccSvc

# Applications
ABS_SOURCE_REPO=https://github.com/itsecurityco/OWASP-101.git
ABS_SOURCE_COMMIT=efc557da400b3ca92f116b77ac44fac336a6ab26
ABS_DB_NAME=bank_abs
ABS_DB_USER=bank_abs_app
ABS_DB_PASSWORD=ChangeMe-AbsDb
ABS_DJANGO_SECRET=ChangeMe-DjangoSecret
ABS_INITIAL_DEPOSIT=1000000

DOLIBARR_SOURCE_REPO=https://github.com/Dolibarr/dolibarr.git
DOLIBARR_SOURCE_COMMIT=57d0be7dc97140d7d47e826875ba9256ec3b6357
DOLIBARR_VERSION=23.0.3
ACC_DB_NAME=bank_accounting
ACC_DB_USER=bank_acc_app
ACC_DB_PASSWORD=ChangeMe-AccDb
ACC_ADMIN_USER=acc_admin
ACC_ADMIN_PASSWORD=ChangeMe-AccAdmin

DBO_SECRET_KEY=ChangeMe-DboSecret
PROXY_SERVER_NAME=dbo.bank.lab

# Web MFA gateways. Authelia is installed but not enforced in START.
MFA_AUTHELIA_VERSION=4.39.20
MFA_DBO_APP_DOMAIN=dbo.bank.lab
MFA_DBO_AUTH_DOMAIN=auth-dbo.bank.lab
MFA_ABS_APP_DOMAIN=abs.bank.lab
MFA_ABS_AUTH_DOMAIN=auth-abs.bank.lab
