port ${VPN_PORT}
proto udp
dev tun
topology subnet
server ${VPN_NETWORK} ${VPN_NETMASK}
ca /state/openvpn/ca.crt
cert /state/openvpn/server.crt
key /state/openvpn/server.key
dh none
ecdh-curve prime256v1
tls-crypt /state/openvpn/tls-crypt.key
verify-client-cert require
script-security 3
auth-user-pass-verify /usr/local/libexec/bank-vpn-ldap-auth via-file
username-as-common-name
setenv BANK_LDAP_IP ${BANK_LDAP_IP}
setenv LDAP_PORT ${LDAP_PORT}
setenv LDAP_BASE_DN ${LDAP_BASE_DN}
push "route ${DMZ_SUBNET}"
push "route ${SERVER_SUBNET}"
push "route ${DATABASE_SUBNET}"
push "route ${MANAGEMENT_SUBNET}"
push "route ${VLAN10_OPER_SUBNET}"
push "route ${VLAN20_CASH_SUBNET}"
push "route ${VLAN30_ACC_SUBNET}"
push "route ${VLAN40_IT_SUBNET}"
keepalive 10 60
persist-key
persist-tun
user nobody
group nogroup
status /state/openvpn/status.log
verb 3
